.DS_Store
_arc
.vscode
.nova
.env
node_modules
native/artifacts.json
native/target
native/*.node
scr[ia]bble.*
/*.png
/*.jpg
todo.txt
build
target
lib/v*/*.node
test/assets/Oswald
test/assets/Raleway
check.js
